<div id="updates">
  <h3>Recent Updates</h3>
  <table>
    <tr>
      <td class="pkg_name">wol-e 2.0</td>
      <td class="pkg_link"><a href="http://www.blackhatlinux.org/packages.html">new tool</a></td>
    </tr>
    <tr>
      <td class="pkg_name">wifi-honey 1.0</td>
      <td class="pkg_link"><a href="http://www.blackhatlinux.org/packages.html">new tool</a></td>
    </tr>
    <tr>
      <td class="pkg_name">weevley 1.1</td>
      <td class="pkg_link"><a href="http://www.blackhatlinux.org/packages.html">new tool</a></td>
    </tr>
    <tr>
      <td class="pkg_name">webslayer r5</td>
      <td class="pkg_link"><a href="http://www.blackhatlinux.org/packages.html">new tool</a></td>
    </tr>
    <tr>
      <td class="pkg_name">2013-08-10</td>
      <td class="pkg_link"><a href="http://www.blackhatlinux.org/packages.html">new release</a></td>
    </tr>
  </table>
</div>
