<div id="heading">
  <h1>Penetration testing tools for the masses.</h1>
  <p>Blackhat Linux is a repository of penetration testing tools for <a href="https://en.wikipedia.org/wiki/RPM_Package_Manager">RPM</a> based linux distributions.</p>
  <p>All tools are thoroughly tested before being added to the codebase to maintain the quality of the repository.  This is a relatively new project and as we continue to grow the repository with the help of the community, we continue to make it better.  If you find bugs, have suggestions or tool requests please feel free to visit our <a href="https://github.com/blackhatlinux/blackhatlinux">github repository</a> or <a title="Contact Blackhat Linux Team" href="mailto:blackhatlinux@outlook.com">email</a> us.</p>
</div>